*, *:after, *:before {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.grid {
  width: 100%;
  height: 100%;
}
[class*='col-'] {
  float: left;
}

/*  CLEARFIX  */
/*```````````*/
.grid:after {
  content: "";
  display: table;
  clear: both;
}

/*  GUTTERS   */
/*```````````*/
[class*='col-'] {
  padding-right: 20px;
}


/*   WIDTHS   */
/*```````````*/
.col-7-12 {
  width: 58.35%;
  text-align: right;
}
.col-5-12 {
  height: 100%;
  width: 41.65%;
  background-color: black;
}
