@import url('normalize.css');
@import url('grid.css');

* {
  margin: 0;
  padding: 0;
}
body{
  font-family: Helvetica;
  font-weight: bold;
}

a, a:hover, a:visited {
  color: black;
}

h2, .button {
  letter-spacing: -0.03em;
}
h1 {
  font-size: 15em;
  margin: 0.55em 0 -0.125em 0;
  letter-spacing: -0.06em;
}
h2 {
  display: inline-block;
  font-size: 1.65em;
  margin: .4em 0;
  width: 100%;
  background-size: 50%;
}
h2 span {
  background: #fff;
  padding: 0 0 0 15px;
  position: relative;
  color: #000;
}
a, a:visited, a:hover {
  text-decoration: none;
}
.button {
  font-size: 2.5em;
  margin: 0 0 0 0.5em;
}
.PSM-on, .PSM-off {
  font-size: 1.75em;
  overflow: auto;
}
p {
  margin-bottom: .3em;
}
.high-usage {
  color: #d4451e !important;
}
.medium-usage {
  color: #f79239 !important;
}
.low-usage {
  color: #00aaa9 !important;
}
h2.high-usage {
  background-color: #d4451e;
  color: black;
}
h2.medium-usage {
  background-color: #f79239;
  color: black;
}
h2.low-usage {
  background-color: #00aaa9;
  color: black;
}

a, a:hover, a:visited {
  color: black;
}

img {
  margin-left: -.1em;
  height: calc(100% - 50px);
/*  http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/*/
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
img.thermometer {
  height: 16.2em;
  top: 20px;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}
